$cerulean: #02B3E4;
$oxford_blue: #2D3C49;
$bali_hai: #7d97ad;

.container{
  font-family: 'Open Sans', sans-serif;
}
header{
  padding: 20px 0px 0px 20px;

  .col-text{
    h1,h4{
      color: $oxford_blue;
      font-weight: 300;
      margin: 0px 0px;
    }
  }
  .col-logo{
    img{
      width: 100%;
      min-width: 100px;
    }
  }
}
hr{
  border-top: 3px solid $bali_hai;
}
section.banner{
  img{
    width: 100%;
  }
}
section.work{
  padding-bottom: 20px;

  h2{
    color: $bali_hai;
  }
  article.work-content{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 20px;

    img{
      width: 100%;
      display: block;
      margin: 0px auto;
    }
    .link{
      display: block;
      font-size: 14px;
    }
  }
}
footer{
  background-color: $oxford_blue;
  padding: 5px 0px;
  font-size: 16px;

  a{
    color: white;
    margin-left: 5px;
    &:hover{
      color: $cerulean;
      text-decoration: none;
    }
  }
}
