$cerulean: #02B3E4;
$oxford_blue: #2D3C49;
$bali_hai: #7d97ad;

$black: #000000;
$grey: #333A42;
$l-grey: #485058;
$tan: #A6A5A1;
$l-tan: #F1ECE9;
$orange: #D7443F;

html, body{
  height: 100%;
  background-color: $grey;
  color: $l-tan;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 50;
  // display: flex;
  // display: flex;
  // flex-direction: column;
}
b{
  font-weight: 600;
}

.container{
  // color:red;
  // font-family: 'Open Sans', sans-serif;
}
h1{
  font-size: 80px;
  font-weight: 600;
}

.navbar-default{
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,.85);
  z-index: 100;

  border: none;
  border-radius: 0px;
  margin-bottom: 0px;

  .navbar-brand{
    color: $l-tan !important;
  }
  a.navlink{
    display: inline-block !important;
    padding-bottom: 3px;
    height: 45px;
    color: $tan !important;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  a.navlink:hover{
    color: $l-tan !important;
    border-bottom: 5px solid $l-tan !important;
  }
}
main{
  section{
    height: 100vh;
    .container{
      padding-top: 60px;
    }
  }
}

// footer{
//   background-color: $orange;
//   bottom: 0px;
//   width: 100%;
//   height: 15px;
//   position: fixed;
// }

section.home{
  position: relative;
  background-color: $black;

  .header-blocker{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: $black;
    z-index: 2;
  }
  .container{
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .valign{ flex-grow: .4; }
  .intro{
    display: inline-block;
    background-color: rgba(0,0,0,.7);
    padding: 20px 100px 30px 40px;
    border-radius: 3px;
    margin: 0px auto;
    text-align: left;
    h1,p{
      display: inline-block;
    }
    p{
      color: $tan;
      font-size: 18px;
    }
    b{
      color: $l-tan
    }
    a{
      color: $l-tan;
      text-decoration: underline;
    }
  }
  // .poster-fallback{
  //   min-width: 100%;
  //   min-height: 100%;
  //
  //   /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  //   width: auto;
  //   height: auto;
  // }
  .video-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #myVideo{
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    opacity: .5;
  }
}

section.work{
  background-color: $l-tan;
  color: $grey;

  h2{
    text-align: center;
    font-size: 42px;
    font-weight: 300;
  }
  h3{
    text-align: center;
  }
}
