@charset "utf-8";
$navbar-background-color: rgba(0,0,0,.85);
$navbar-item-color: #FFFFFF;

@import "../node_modules/bulma/bulma.sass";


.hero-video video{
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

#work{
  .media-left{
    width: 30%;
    height: 30%;
  }
  .image.icon{
    width: 100%;
    height: 100%;
    background-color: #00cc00;
  }
}
