section.section#about
  .container
    h2.title.is-size-2.has-text-centered(data-aos="fade-up") About Me
    .columns.is-centered
      .column.is-four-fifths(data-aos="fade-up")
        p I've been working in the industry as a Web Developer / Motion Designer for more than 8 years. Worked on projects ranging from building custom theme Wordpress sites to developing single-page application on cloud computing platform. Love the intersection between dev and design. An avid learner and keen to explore new technology.
        p
          br
          
        h3.subtitle.is-3 Tools of the Trade
        .columns
          .column
            p.tools
              b Languages:
              |
              | HTML, CSS(Sass), JavaScript, PHP, Python, Pug
            p.tools
              b Frameworks:
              |
              | React, React Native, Angular, FLASK, Bootstrap, BULMA, SLIM, Knockout
            p.tools
              b Database:
              |
              | MySQL, PostgreSQL, SQLite
            p.tools
              b Libraries:
              |
              | Redux, SQLAlchemy, jQuery, D3, Videojs, Underscore
          .column
            p.tools
              b Platform:
              |
              | Google Firebase, AWS, Azure
            p.tools
              b Tools:
              |
              | Git, NPM, Gulp, Webpack, Atom, Codekit, Adobe Creative Suite, Cinema 4D
            p.tools
              b Other:
              |
              | REST API, JSON, Wordpress, OAuth2.
