<section id="home" class="hero is-fullheight">
  <!-- <div class="header-blocker"></div> -->
  <div class="hero-body">
    <!-- <div class="valign"></div>
    <div class="intro">
      <h1>Hey there,</h1><br />
      <p>my name is <b>Lauwrentius Margetan</b>, a full-stack developer<br /> based in Seattle. Feel free to look around some of my<br />
      <a href="#">latest work</a> and <a href="">get in touch</a>.</p>
    </div>
  </div>
  <div class="video-wrapper"> -->
    <div class="video-wrapper">
      <video autoplay muted loop poster="/img/poster.jpg" id="myVideo">
        <source src="/video/BG-loop.mp4" type="video/mp4">
        <img src="/img/poster.jpg" class="poster-fallback">
      </video>
    </div>
  </div>
</section>
