<nav aria-label="main navigation" class="navbar is-transparent is-dark is-fixed-top" role="navigation"><div class="navbar-brand">>
a class="navbar-item" Lauwrentius Margetan

a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
  span aria-hidden="true"
  span aria-hidden="true"
  span aria-hidden="true"</div><div class="navbar-menu"><div class="navbar-end"><a class="navbar-item">Work</a><a class="navbar-item">About</a><a class="navbar-item">Contact</a></div></div></nav>
