nav.navbar.is-transparent.is-dark.is-fixed-top(role="navigation", aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item Lauwrentius Margetan

      a.navbar-burger(role="button" aria-label="menu" aria-expanded="false")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")

    .navbar-menu
      .navbar-end
        a.navbar-item Work
        a.navbar-item About
        a.navbar-item Contact
